<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-3 columns">
      <%= f.label :title, class: "right inline" %>
    </div>
    <div class="small-9 columns">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <%= f.label :body, class: "right inline", title: "What's on your mind?", data: {tooltip: true} %>
    </div>
    <div class="small-9 columns">
    <%= f.text_field :body %>
    </div>
  </div>
  <div class="row">
    <div class="small-9 small-offset-3 columns">
      <%= f.submit %>
    </div>
  </div>
  <% if current_user.role == 'editor' %>
  <div class="field">
    <%= f.label :published %>
    <%= f.check_box :published %>
  </div>
  <% end %>
<% end %>
